
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
        {% include 'nav_base.html' %}
    <div class="container mx-auto p-4 flex flex-col md:flex-row">
        <div class="md:w-1/3 bg-white rounded-lg shadow-lg p-6 mb-4 md:mb-0">
            <div class="relative">
                <div class="h-40 bg-gradient-to-r from-blue-500 to-purple-600 rounded-t-lg flex items-center justify-center text-white text-4xl font-bold relative">
    JD
    <img class="absolute inset-0 w-full h-full object-cover rounded-t-lg"
         src="{% if user.learnerprofile.banner_image %}
                 {{ user.learnerprofile.banner_image.url }}
              {% elif user.educatorprofile.banner_image %}
                 {{ user.educatorprofile.banner_image.url }}
              {% else %}
                 {% static 'images/prof_images/default_banner.jpg' %}
              {% endif %}"
         alt="Banner Image">
</div>

<!--                <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Profile Picture" class="w-32 h-32 rounded-full border-4 border-white absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 hover:scale-110 transition-transform duration-300 cursor-pointer">-->

<!--           image -->

                <img src="{% if user.learnerprofile.profile_image %}
                            {{ user.learnerprofile.profile_image.url }}
                         {% elif user.educatorprofile.profile_image %}
                            {{ user.educatorprofile.profile_image.url }}
                         {% else %}
                            {% static 'images/prof_images/default_profile.jpg' %}
                         {% endif %}" alt="Profile Picture" class="w-32 h-32 rounded-full border-4 border-white absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 hover:scale-110 transition-transform duration-300 cursor-pointer">

            </div>
            <h1 class="text-2xl font-bold text-center mt-20 mb-4">{{ user.full_name }}( {{ user.user_type }} )</h1>

            {% if learner_profile %}
                 <p class="text-gray-600 text-center mb-6">{{ learner_profile.best_describe }}</p>
            {% elif educator_profile %}
                 <p class="text-gray-600 text-center mb-6">{{ educator_profile.best_describe }}</p>

            {% endif %}



<!--            <p class="text-gray-600 text-center mb-6">{{ user.best_describe }}</p>-->
            <a href="{% url 'edit_profile' %}">
            <button class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition-colors duration-300">Edit Profile</button>
            </a>
        </div>
        <div class="md:w-2/3 md:ml-4">
            <div class="bg-white rounded-lg shadow-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">User Details</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block text-gray-700 font-bold mb-2">Full Name</label>
                        <p class="text-gray-600">{{ user.full_name }}</p>
                    </div>
                    <div>
                        <label class="block text-gray-700 font-bold mb-2">Email</label>
                        <p class="text-gray-600">{{ user.email }}</p>
                    </div>

                    {% if learner_profile %}
                        <div>
                        <label class="block text-gray-700 font-bold mb-2">Phone</label>
                        <p class="text-gray-600">+91 {{ learner_profile.phone }}</p>
                        </div>
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Location</label>
                            <p class="text-gray-600">{{ learner_profile.location }}</p>
                        </div>
                    {% elif educator_profile %}
                        <div>
                        <label class="block text-gray-700 font-bold mb-2">Phone</label>
                        <p class="text-gray-600">+91 {{ educator_profile.phone }}</p>
                        </div>
                        <div>
                        <label class="block text-gray-700 font-bold mb-2">Location</label>
                        <p class="text-gray-600">{{ educator_profile.location }}</p>
                        </div>
                    {% endif %}


<!--                    <div>-->
<!--                        <label class="block text-gray-700 font-bold mb-2">Phone</label>-->
<!--                        <p class="text-gray-600">+91 {{ user.phone }}</p>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label class="block text-gray-700 font-bold mb-2">Location</label>-->
<!--                        <p class="text-gray-600">{{ user.location }}</p>-->
<!--                    </div>-->
                    <div>
                        <label class="block text-gray-700 font-bold mb-2">Joined</label>
                        <p class="text-gray-600">{{ user.date_joined }}</p>
                    </div>


                    {% if learner_profile %}
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Website</label>
                            <a href="{{ learner_profile.website }}" class="text-blue-500 hover:underline">{{ learner_profile.website }}</a>
                        </div>
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Github URL</label>
                            <a href="{{ learner_profile.website }}" class="text-blue-500 hover:underline">{{ learner_profile.github_url }}</a>
                        </div>
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Linkedin URL</label>
                            <a href="{{ learner_profile.website }}" class="text-blue-500 hover:underline">{{ learner_profile.linkedin_url }}</a>
                        </div>

                        <div >
                        <label class="block text-gray-700 font-bold mb-2">Interests</label>
                        <ul class="text-gray-600">
                                {% for interest in learner_profile.interests.all %}
                                    <li>{{ interest.name }}</li>
                                {% empty %}
                                    <li>No subjects available.</li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% elif educator_profile %}
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Website</label>
                            <a href="{{ educator_profile.website }}" class="text-blue-500 hover:underline">{{ educator_profile.website }}</a>
                        </div>
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Github URL</label>
                            <a href="{{ educator_profile.github_url }}" class="text-blue-500 hover:underline">{{ educator_profile.github_url }}</a>
                        </div>
                        <div>
                            <label class="block text-gray-700 font-bold mb-2">Linkedin URL</label>
                            <a href="{{ educator_profile.linkedin_url }}" class="text-blue-500 hover:underline">{{ educator_profile.linkedin_url }}</a>
                        </div>

                        <div >
                        <label class="block text-gray-700 font-bold mb-2">Experience</label>
                        <p class="text-gray-600">{{ educator_profile.experience }}.</p>
                        </div>

                        <div >
                        <label class="block text-gray-700 font-bold mb-2">Subjects</label>
                        <ul class="text-gray-600">
                                {% for subject in educator_profile.subjects.all %}
                                    <li>{{ subject.name }}</li>
                                {% empty %}
                                    <li>No subjects available.</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div >
                        <label class="block text-gray-700 font-bold mb-2">Bio</label>
                        <p class="text-gray-600">{{ educator_profile.bio }}.</p>
                        </div>

                    {% endif %}
<!--                    <div>-->
<!--                        <label class="block text-gray-700 font-bold mb-2">Website</label>-->
<!--                        <a href="#" class="text-blue-500 hover:underline">www.johndoe.com</a>-->
<!--                    </div>-->
<!--                    <div class="col-span-2">-->
<!--                        <label class="block text-gray-700 font-bold mb-2">Bio</label>-->
<!--                        <p class="text-gray-600">Passionate web developer with 5+ years of experience in creating responsive and user-friendly websites. Always eager to learn new technologies and improve my skills.</p>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-lg p-6 mt-4">
                <h2 class="text-2xl font-semibold mb-4">Recent Activities</h2>
                <ul class="space-y-4">
                    <li class="flex items-center">
                        <div class="bg-blue-100 p-2 rounded-full mr-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </div>
                        <div>
                            <p class="font-semibold">Created a new project</p>
                            <p class="text-sm text-gray-500">2 hours ago</p>
                        </div>
                    </li>
                    <li class="flex items-center">
                        <div class="bg-green-100 p-2 rounded-full mr-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                            </svg>
                        </div>
                        <div>
                            <p class="font-semibold">Updated profile picture</p>
                            <p class="text-sm text-gray-500">1 day ago</p>
                        </div>
                    </li>
                    <li class="flex items-center">
                        <div class="bg-yellow-100 p-2 rounded-full mr-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </div>
                        <div>
                            <p class="font-semibold">Edited project details</p>
                            <p class="text-sm text-gray-500">3 days ago</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>