<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Classroom Management</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-gray-100">
    {% include 'nav_base.html' %}
    <div class="container mx-auto px-4 py-8">
        {% if query %}
             <h1 class="text-3xl font-bold mb-8 text-center text-indigo-700">Public Classrooms for {{ query }} </h1>
        {% else %}

        <h1 class="text-3xl font-bold mb-8 text-center text-indigo-700">Public Classrooms</h1>
        {% endif %}
        <div class="mb-6 flex flex-wrap items-center justify-between">
           <form method="GET" action="{% url 'classroom_search' %}" class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
    <div class="flex items-center w-full md:w-2/3">
        <input type="text" name="classroom_query" placeholder="Search classrooms..." class="w-full md:w-3/4 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500">
        <button type="submit" class="ml-4 px-4 py-2 rounded-lg bg-indigo-500 text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
            Search
        </button>
    </div>
    <div class="w-full md:w-1/3"> <!-- Adjusted width -->
        <select name="sort_by" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500">
            <option value="">Sort by...</option>
            <option value="creation_date">Creation Date</option>
            <option value="number_of_students">Number of Students</option>
            <option value="classroom_name">Classroom Name</option>
        </select>
    </div>
</form>

            <a href="{% url 'create_classroom' %}">
            <button class="w-full md:w-auto bg-indigo-600 text-white px-6 py-2 rounded-lg hover:bg-indigo-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                <i class="fas fa-plus mr-2"></i>Create New Classroom
            </button>
                </a>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% if classrooms %}
            {% for classroom in classrooms %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition duration-300 ease-in-out">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2 text-indigo-600">{{ classroom.name }}</h2>
                    <p class="text-gray-600 mb-2"><i class="fas fa-users mr-2"></i>Educator: {{ classroom.educator.user.full_name }} </p>
<!--                    <p class="text-gray-600 mb-2"><i class="fas fa-users mr-2"></i>{{ classroom.student.count }} Students</p>-->
                    <p class="text-gray-600 mb-2"><i class="fas fa-users mr-2"></i>{{ classroom.student.count|add:classroom.additional_educators.count }} Students</p>
                    <p class="text-gray-600 mb-2"><i class="fas fa-calendar-alt mr-2"></i>Created: {{ classroom.created_at|date:"M d, Y" }}</p>
                    <p class="text-gray-600 mb-4"><i class="fas fa-info-circle mr-2"></i>{{ classroom.description|truncatechars:50 }}</p>
                    <p class="text-gray-600 mb-4"><i class="fas fa-key mr-2"></i>Room Code: {{ classroom.room_code }}</p>
<!--                    <p class="text-gray-600 mb-4">-->
<!--                        <i class="fas fa-circle mr-2 {% if classroom.active %}text-green-500{% else %}text-red-500{% endif %}"></i>-->
<!--                        {{ classroom.active|yesno:"Active,Inactive" }}-->
<!--                    </p>-->
                    <div class="flex justify-between items-center">
                        {% if classroom.educator.user == request.user %}
                        <a href="{% url 'edit_classroom' classroom.id %}">
                        <button class="text-indigo-600 hover:text-indigo-800 focus:outline-none">
                            <i class="fas fa-edit mr-1"></i>Edit
                        </button>
                            </a>
                        {% endif %}
                        <a href="{% url 'classroom_detail' classroom.id %}">
                        <button class="text-indigo-600 hover:text-indigo-800 focus:outline-none">
                            <i class="fas fa-eye mr-1"></i>View Details
                        </button>
                            </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-span-full text-center text-gray-500">
                <p>No classrooms found. Create a new classroom to get started!</p>
            </div>
            {% endfor %}


         {% else %}
            <p>No results found for "{{ query }}"</p>
        {% endif %}
        </div>
    </div>
</body>
</html>